body
{
	font-family:Verdana, Arial;
	font-size:11pt;
	color:#000000;
	background-color:#3355AA;
}

p
{
	margin-bottom:10px;
}

a:link{color:#0000B5; text-decoration:none;}
a:visited{color:#0000B5; text-decoration:none;}
a:hover{color:#6666E9; text-decoration:none;}
a:active{color:#6666E9; text-decoration:none;}

img
{
    border-style:none;
}

#header
{
	width:900px;
	height:242px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(../img/header.png);
}

#body
{
	width:900px;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	background-image:url(../img/body.png);
	background-repeat:repeat;
}

#navigation
{
	position:static;
	margin-left:auto;
	text-align:right;
	margin-right:100px;
	width:600px;
}

#content
{
	width:700px;
	min-height:450px;
	margin-left:100px;
	padding-top:10px;
	padding-bottom:10px;
}

#foot
{
	position:relative;
	margin-top:0px;
	width:900px;
	height:70px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(../img/footer.png);
}

.title
{
	font-size:12pt;
	font-weight:bold;
	margin-bottom:30px;
}

.title2
{
	font-size:10pt;
	font-weight:bold;
	margin-top:20px;
	margin-bottom:10px;
}

.title2::before
{
	content:"➤ ";
  	display:inline;
}

.title3
{
	font-size:8pt;
	font-weight:bold;
	margin-top:20px;
	margin-bottom:10px;
}

.title3::before
{
	content:"➤ ";
  	display:inline;
  	margin-left: 10px;
}

.error_title
{
	font-size:12pt;
	color:#FF0000;
	font-weight:bold;
}

.error_text
{
	font-size:11pt;
	color:#FF0000;
}

.reference
{
	display:block;
	margin-top:10px;
	font-size:10pt;
	color:#555555;
	font-style:italic;
}

#chat
{
	font-size:10pt;
	margin-top:10px;
	padding-left:10px;
	padding-right:10px;
	padding-top:0px;
	padding-bottom:10px;
	background-color:#BBDDFF;
	height:200px;
	overflow-x:hidden;
	overflow-y:auto;
}


#chat p
{
	margin-top:10px;
	margin-bottom:10px;
}

#chat_input
{
	width:250px;
	margin-left:20px;
	margin-right:10px;
}

.hidden
{
	display:none;
}

